@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.body {
    color :#24292e;
}

div.fixedHeaderContainer {
    background: #de322f;
}

.homeContainer {
  background: #fff;
  color: #de322f;
  padding: 32px;
}

.mainContainer {
  margin: 0 10px;
  padding-top: 20px;
}

.mainContainer h2 p {
   color: #de322f;
}

.inverse {
  color: #de322f;
}

.inverseLight {
  color: #de322f;
}

.content {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.content .inverse {
  font-weight: 200;
}

.content .inverseLight {
  font-weight: 100;
}

.blockContent {
  font-weight: 300;
}

.blockContent h2 {
  font-weight: 200;
}

.blockImage img{
  width: 64px;
  height: 64px;
  fill: #5C224C;
}

a {
  color: #de322f;
}

a:hover {
    color: #ff0400;
    text-weight:700;
}

.buttons {
  padding-top: 10px;
}

.buttons a, .button {
  border: 0px solid #de322f;
  color: #de322f;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2em;
  padding: 10px;
  margin: 10px;
  border-radius: 0;
  text-transform: uppercase;
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: #de322f;
}

.navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav u {
    color: #de322f;
    background: #fff;
    border-radius: 0;
}

.fixedHeaderContainer header a {
    color: #fff;
}

.fixedHeaderContainer header a:hover {
    color: #edf3f6;
}

.container.paddingTop {
    padding-top: 0px;
}

.container.paddingBottom {
    padding-bottom: 0px;
}

.button:hover, .buttons a:hover, .navigationSlider .slidingNav ul li a {
  color: #fff;
  background: #de322f;
}

.fixedHeaderContainer header .headerTitle {
    font-weight: 400;
}

blockquote {
    background-color: #edf3f6;
    color: #555;
    border-left: 8px solid #bad1dd;
}

.hljs {
  background: #242424;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #8AC6F2;
}

.token.string {
    color: #95E454;
}

.token.number {
    color: #F02DB9;
}

.token.builtin {
    color:#6b6fa2;
}

.token.operator {
    color: #fff
}

code[class*='language-'] {
    color:##bbf9ff;
    font-size: 13.5px;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    font-size: 14px;
}

table td {
    color: #968691;
}

.nav-footer {
    border-top: 1px solid #bad1dd;
    background: #edf3f6;
}

.nav-footer .sitemap h5, .nav-footer .copyright {
    color: #555;
}

.nav-footer .sitemap a {
    color: #555;
}

.onPageNav .toc-headings > li > a.active, .onPageNav .toc-headings > li > a.hover {
    font-weight: 600;
    color: #de322f;
}

.toc .toggleNav ul li.navListItemActive a {
    color: #de322f;
}

.toc .toggleNav ul li a:hover, .toc .toggleNav ul li a:focus {
    color: #ff0400;
}

.nav-footer .sitemap a:hover {
    color: #de322f;
}